:root {
	--white: #fff;
	--main: #fe8a02;
	--dark: #2a2626;
	--mdark: #42413c;
}

@font-face {
	font-weight: 400;
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-weight: 700;
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: Neucha;
	src: url("/fonts/Neucha/Neucha-Regular.ttf") format("truetype");
}

body {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.6em;
	color: var(--dark);

	margin: 0;
}

.s-b::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: block;

	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 10%;
}

.p-rl {
	position: relative;
}

.art-pt {
	padding-top: 21px;
}

.img1 {
	position: absolute;
	top: 55px;
	right: -270px;
	left: 461px;

	height: 525px;
}

h1,
h2 {
	margin: 0;
	font-weight: 400;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.art-col p {
	margin-top: 0;
}

.b-i-a {
	break-inside: avoid;
}

.art-col {
	columns: 540px 2;
	column-gap: 30px;
}

.h-mb185 {
	margin-bottom: 185px;
}

.m-b30 {
	margin-bottom: 30px;
}

.ta-c {
	text-align: center;
}

.col-tc {
	color: #212529;
}

.b-pos {
	margin-top: 24px;
}

.b-p {
	padding: 12px 24px;
}

.fw-b {
	font-weight: bold;
}

.bor-n {
	border: none;
}

.bg-c-main {
	background-color: var(--main);
}

.tt-upp {
	text-transform: uppercase;
}

.video {
	filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.v-pos {
	display: flex;
	justify-content: center;
}

.bg-col-mdark {
	background-color: var(--mdark);
}

.s-opts {
	width: 1110px;

	margin: auto;
	padding: 100px 165px;
}

.ex-mp {
	margin-top: -184px;
	padding-top: 200px;
}

.h-sz {
	font-size: 52px;
}

.col-wt {
	color: var(--white);
}

/*.col-wt-op {*/
/*color: #d7ccc0;*/
/*}*/

/*.col-lt {*/
/*color: #f5f4f0;*/
/*}*/

.col-main {
	color: var(--main);
}

.col-mdark {
	color: var(--mdark);
}

.col-dark {
	color: var(--dark);
}

/*.col-dark-op {*/
/*color: #908d8b;*/
/*}*/

/*.col-brn {*/
/*color: #b09a81;*/
/*}*/

/*.col-blue {*/
/*color: #1085c5;*/
/*}*/

.h1-sz {
	font-size: 72px;
}

.h2-sz {
	font-size: 60px;
}

/*.h3-sz {*/
/*font-size: 34px;*/
/*}*/

.h-lh {
	line-height: 1.2em;
}

.h-font {
	font-family: Neucha;
}
